.mainRestorePassword {
    position: relative;
    max-width: 1280px;
    height: calc(100% - 33px);
    margin: 33px auto 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contentRestore {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowReturn {
    align-self: flex-start;
    height: 25px;
    cursor: pointer;
}

.imgLogoRestore {
    width: 55%;
    margin-bottom: 30px;
}

.formRestore {
    width: 100%;
    background-color: #FFF4D9;
    border-radius: 16px;
    padding: 20px 34px 28px 34px;
    display: flex;
    flex-direction: column;
}

.formRestore h2 {
    color: #4B2D10;
    text-align: start;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
}

.formRestore p {
    color: #BB8D6C;
    font-size: 14px;
    margin-bottom: 40px;
}

.inputFormRestore {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Alegreya Sans;
    color: #4B2D10;
    font-size: 20px;
    appearance: none;
    border-bottom: 1px #B48100 solid;
}

.inputMailRestore {
    margin-bottom: 70px;
}

.inputFormRestore::placeholder {
    color: #4B2D10;
}

.fieldsPasswordRestore {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-bottom: 58px;
}

.contInputFieldRestore {
    position: relative;
}

.buttonRestore {
    width: 100%;
    height: 44px;
    background: #FFB800;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #4B2D10;
    font-weight: 500;
    font-family: Alegreya Sans;
    cursor: pointer;
}

.imgPeopleRestore {
    width: 87%;
}

@media (min-width: 768px) {
    .imgLogoRestore {
        width: 40%;
        margin-bottom: 50px;
    }

    .formRestore {
        width: 90%;
        padding: 28px 34px 34px 34px;
    }

    .formRestore h2 {
        font-size: 36px;
    }

    .formRestore p {
        font-size: 18px;
    }

    .inputFormRestore {
        font-size: 24px;
    }

    .buttonRestore {
        width: max-content;
        height: 50px;
        font-size: 24px;
        padding: 10px 36px;
    }

    .imgPeopleRestore {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    .imgLogoRestore {
        width: 400px;
        margin-bottom: 70px;
    }

    .formRestore {
        width: 70%;
    }

    .imgPeopleRestore {
        width: 50%;
    }
}

@media (min-width: 1152px) {
    .formRestore {
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .imgPeopleRestore {
        width: 40%;
    }
}